<div class="movie_index">
<header>
  <% if user_signed_in? %>
  <div class="header_item">
  <%= link_to "HOME", root_path, class: "editlink" %>
  <%= link_to "REVIEWS" , reviews_path, class: "editlink" %>
  <%= link_to "MYPAGE" , user_path(current_user.id), class: "editlink" %>
  <%= link_to "LOGOUT" ,  destroy_user_session_path, method: :delete, class: "editlink" %>
  </div>
  <% else %>
  <div class="header_item">
  <%= link_to "HOME", root_path, class: "editlink" %>
  <%= link_to "ABOUT" , homes_about_path, class: "editlink" %>
  <%= link_to "SIGNIN" , new_user_session_path, class: "editlink" %>
  <%= link_to "SIGNUP" ,  new_user_registration_path, class: "editlink" %>
  </div>
  <% end %>
  <div class="logo">
    ShelfTalker
  </div>
</header>



<!--ジャンル検索用-->
  <% form_tag(root_path, method: :get) do %>
    <% search_field_tag :genre,nil,value: params[:genre] %>
    <% search_field_tag :page_for, nil,value: params[:page_for] %>
    <% submit_tag '検索' %>
  <% end %>
 

      <div class="genre_wrapper">
          <%= link_to "#Action", "/?utf8=%E2%9C%93&genre=28&commit=%E6%A4%9C%E7%B4%A2"      ,class: "editlink" %>
          <%= link_to "#Adventure", "/?utf8=%E2%9C%93&genre=12&commit=%E6%A4%9C%E7%B4%A2"  ,class: "editlink" %>
          <%= link_to "#Anime", "/?utf8=%E2%9C%93&genre=16&commit=%E6%A4%9C%E7%B4%A2"          ,class: "editlink" %>
          <%= link_to "#Family", "/?utf8=%E2%9C%93&genre=10751&commit=%E6%A4%9C%E7%B4%A2"   ,class: "editlink" %>
          <%= link_to "#Horror", "/?utf8=%E2%9C%93&genre=27&commit=%E6%A4%9C%E7%B4%A2"          ,class: "editlink" %>
          <%= link_to "#Romance", "/?utf8=%E2%9C%93&genre=10749&commit=%E6%A4%9C%E7%B4%A2"     ,class: "editlink" %>
          <%= link_to "#Thriller", "/?utf8=%E2%9C%93&genre=53&commit=%E6%A4%9C%E7%B4%A2"      ,class: "editlink" %>
          <%= link_to "#War", "/?utf8=%E2%9C%93&genre=10752&commit=%E6%A4%9C%E7%B4%A2"         ,class: "editlink" %>
        </div>
        
 

  

<!--ジャンル検索結果-->
<%if params[:genre].present? %>

 <% movieinfo = JSON.parse(Tmdb::Genre.movies(params[:genre], page: 1).to_json) %>
 <h2 class="top">Movies</h2>
  <div class="container">
    <div class="row">
        <% i = 0 %>
        <% while i < movieinfo['table']['results'].count %>
          <div class="col-3">
            <div class="hover-darken">
            <% if movieinfo['table']['results'][i]['table']['poster_path'].present? %>
              <%= link_to image_tag('https://image.tmdb.org/t/p/w1280' + movieinfo['table']['results'][i]['table']['poster_path'],class: "image"),detail_path(movieinfo['table']['results'][i]['table']['id']) %>
            <%end%>
            </div>
            <div class="movie-title">
            <%if movieinfo['table']['results'][i]['table']['title'].present?%>
              <%= movieinfo['table']['results'][i]['table']['title'] %>
            <%end%>
            </div>
            <div class="release_date">
            <%if movieinfo['table']['results'][i]['table']['release_date'].present?%>
              <%= movieinfo['table']['results'][i]['table']['release_date'] %>
            <%end%>
            </div>
           </div>
        <% i += 1%>
        <%end%>
    </div>
  </div>
  
<% elsif params[:looking_for].present? %>
<!--検索結果-->
  
  <% movie = JSON.parse(Tmdb::Search.movie(params[:looking_for]).to_json) %>
  <% movie["table"]["total_pages"] %>
  <!--結果全てを表示するように繰り返し-->
  <h2 class="top">Movies</h2>
  <% n = 1 %>
  <% while n <  movie["table"]["total_pages"] + 1 %>
  <% movieinfo = JSON.parse(Tmdb::Search.movie(params[:looking_for],page: n).to_json) %>
  
    <div class="container">
      <div class="row">
        <% i = 0 %>
        <% while i < movieinfo['table']['results'].count %>
         
          <div class="col-3">
           <div class="hover-darken">
            <% if movieinfo['table']['results'][i]['table']['poster_path'].present? %>
              <%= link_to image_tag('https://image.tmdb.org/t/p/w1280' + movieinfo['table']['results'][i]['table']['poster_path'],class: "image"),detail_path(movieinfo['table']['results'][i]['table']['id']) %>
            <%end%>
            </div>
             <div class="movie-title">
            <%if movieinfo['table']['results'][i]['table']['title'].present?%>
              <%= movieinfo['table']['results'][i]['table']['title'] %>
            <%end%>
            </div>
            <div class="release_date">
            <%if movieinfo['table']['results'][i]['table']['release_date'].present?%>
              <%= movieinfo['table']['results'][i]['table']['release_date'] %>
            <%end%>
            </div>
          </div> 
        <% i += 1%>
        <%end%>
      </div>
    </div>
     <% n += 1 %>
    <% end %>
<% else %>
<!--人気映画20件取得-->
<% @popular_movie = JSON.parse((Tmdb::Movie.popular).to_json) %>
<!--人気映画をslickで表示-->
<div class="sec_inner">
  <div class="slider">
    <% i = 0 %>
    <% while i < @popular_movie['table']['results'].count %>
      <%= link_to image_tag("https://image.tmdb.org/t/p/w1280" + @popular_movie['table']['results'][i]['table']['poster_path']), detail_path(@popular_movie['table']['results'][i]['table']['id']) %>
    <% i += 1 %>
    <%end%>
  </div>
</div>
<div class="movie_search">
  <h2 class="top">Search</h2>
  <%= form_tag(root_path, method: :get) do %>
    <%= search_field_tag :looking_for,nil, placeholder: 'Movie Title',value: params[:looking_for], size: "80" %>
    <% search_field_tag :page, nil, value: params[:page] %>
    <% submit_tag '検索' %>
  <% end %>
</div>
  <!--評価が5のレビューをランダムにひとつ取得して表示させる-->
  <% if Review.find_by(rate: 5) %>        
    <div class="container">
      <h2 class="top">Top Review</h2>
       <div class="top_review_wrapper">
        <div class="row">
          <% @top_reviews.each do |review| %>
            <div class="top_review_user col-1">
              <%= link_to review.user.name, user_path(review.user.id),class: "editlink" %>
            </div>
            <div class="top_review_font col-4">
              <%= link_to image_tag('https://image.tmdb.org/t/p/w1280' + review.poster_path, class: "top_review_image border border-dark"),detail_path(review.tmdb) %></br>
              <%= review.movie_title %>
            </div>
            <div class="col-7">
              <div class="row">
                <div class="top_review_title col-5">
                  <span>Click here!</span><div class="click-before"><%= link_to review.title, review_path(review.id), class: "editlink" %></div>
                </div>
                <div class="top_review_rate col-5">
                  <div class="movie-evaluation-<%= review.id %>"></div>
                    <script>
                    $(".movie-evaluation-<%= review.id %>").empty();
                    $('.movie-evaluation-<%= review.id %>').raty({
                      size: 36,
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      readOnly: true,
                      score: <%= review.rate %>,
                    });
                    </script>
                  </div>
                </div>
              <div class="top_review_body">
                <%= review.body %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container border-bottom border-dark"></div>
  <% end %>   

  
  <h2 class="top">Movies</h2>
    <div class="container">
      <div class="row">
        
        <% i = 0 %>
        <% while i < @popular_movie['table']['results'].count %>
          <div class="col-3">
            <div class="hover-darken">
            <% if @popular_movie['table']['results'][i]['table']['poster_path'].present? %>
              <%= link_to image_tag('https://image.tmdb.org/t/p/w1280' + @popular_movie['table']['results'][i]['table']['poster_path'], class: "image"), detail_path(@popular_movie['table']['results'][i]['table']['id']) %>
            <%end%>
            </div>
            <div class="movie-title">
            <%if @popular_movie['table']['results'][i]['table']['title'].present?%>
              <%= link_to @popular_movie['table']['results'][i]['table']['title'], detail_path(@popular_movie['table']['results'][i]['table']['id']), class: "editlink" %>
            <% end %>  
            </div>
            <div class="release_date">
            <%if @popular_movie['table']['results'][i]['table']['release_date'].present?%>
              <%= @popular_movie['table']['results'][i]['table']['release_date'] %>
            <%end%>
            </div>
          </div>
        <% i += 1%>
        <%end%>
      </div>
    </div>
    <% end %>


    </div>
  Copyright（c）2015 18Months Srl