<!--ユーザーと管理人とログアウトしているかで表示を変える-->
<div class="movie_index">
  <!--ジャンル検索用-->
  <% form_tag(root_path, method: :get) do %>
    <% search_field_tag :genre,nil,value: params[:genre] %>
    <% search_field_tag :page_for, nil,value: params[:page_for] %>
    <% submit_tag '検索' %>
  <% end %>
  
  <div class="genre_wrapper">
    <%= link_to "#Action", action_path , remote: true , class: "editlink" %>
    <%= link_to "#Adventure", adventure_path, remote: true , class: "editlink" %>
    <%= link_to "#Anime", anime_path, remote: true , class: "editlink" %>
    <%= link_to "#Family", family_path , remote: true ,class: "editlink" %>
    <%= link_to "#Horror", horror_path , remote: true , class: "editlink" %>
    <%= link_to "#Romance", romance_path , remote: true , class: "editlink" %>
    <%= link_to "#Thriller", thriller_path , remote: true , class: "editlink" %>
    <%= link_to "#War", war_path , remote: true , class: "editlink" %>
  </div>
  
  <div class="genre">
    <%if params[:genre].present? %>
      <!--ジャンル検索結果-->
      <%= render "genre_movie" %>
  </div>
    <% elsif params[:looking_for].present? %>
      <!--検索結果-->
      <%= render "looking_for_movie" %>
    <% else %>
      <!--人気映画20件取得-->
      <%= render "movies/popular_movie" %>
    <% end %>
</div>