<div class="movie_index">
  <!--ジャンル検索用-->
  <% form_tag(root_path, method: :get) do %>
    <% search_field_tag :genre,nil,value: params[:genre] %>
    <% search_field_tag :page_for, nil,value: params[:page_for] %>
    <% submit_tag '検索' %>
  <% end %>
  
  <div class="genre_wrapper">
    <%= link_to "#Action", "/?utf8=%E2%9C%93&genre=28&commit=%E6%A4%9C%E7%B4%A2"      ,class: "editlink" %>
    <%= link_to "#Adventure", "/?utf8=%E2%9C%93&genre=12&commit=%E6%A4%9C%E7%B4%A2"  ,class: "editlink" %>
    <%= link_to "#Anime", "/?utf8=%E2%9C%93&genre=16&commit=%E6%A4%9C%E7%B4%A2"          ,class: "editlink" %>
    <%= link_to "#Family", "/?utf8=%E2%9C%93&genre=10751&commit=%E6%A4%9C%E7%B4%A2"   ,class: "editlink" %>
    <%= link_to "#Horror", "/?utf8=%E2%9C%93&genre=27&commit=%E6%A4%9C%E7%B4%A2"          ,class: "editlink" %>
    <%= link_to "#Romance", "/?utf8=%E2%9C%93&genre=10749&commit=%E6%A4%9C%E7%B4%A2"     ,class: "editlink" %>
    <%= link_to "#Thriller", "/?utf8=%E2%9C%93&genre=53&commit=%E6%A4%9C%E7%B4%A2"      ,class: "editlink" %>
    <%= link_to "#War", "/?utf8=%E2%9C%93&genre=10752&commit=%E6%A4%9C%E7%B4%A2"         ,class: "editlink" %>
  </div>
        
  <!--ジャンル検索結果-->
  <%if params[:genre].present? %>
    <%= render "genre_movie" %>
  <!--検索結果-->
  <% elsif params[:looking_for].present? %>
    <%= render "looking_for_movie" %>
  <!--人気映画20件取得-->
  <% else %>
    <%= render "popular_movie" %>
  <% end %>
</div>