<!--idに該当するmovieデータをjson形式で取得-->
<% detail = JSON.parse((Tmdb::Movie.detail(params[:id])).to_json) %>
 
<div class="movie_show">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <!--ポスターがあれば表示-->
        <%if detail['table']['poster_path'].present?%>
          <%= image_tag 'https://image.tmdb.org/t/p/w1280' + detail['table']['poster_path'], class: "movie_image" %>
        <%end%>
        <!--タイトルがあれば表示-->
        <%if detail['table']['title'].present?%>
          <div class="movie_title"><%= detail['table']['title'] %></div>
        <%end%>
        <!--空の配列を用意-->
        <!--@review.tmdbと@movieinfo["table"]["id"]が同じ、レビューの評価(rate)を空の配列に代入-->
        <% array = [] %>
        <% @reviews.each do |review| %>
          <% if review.tmdb == @movieinfo["table"]["id"] %>
            <% array << review.rate %>
          <% end %>
        <% end %>
        <!--配列が空じゃなければ評価(rate)の平均を算出-->
        <% unless array.empty? %>
          <h3>平均<%= (array.sum / array.count).round(2).to_f %>点</h3>
        <% end %>
      </div>
      
      <div class="offset-1 col-7">
        <!--あらすじがあれば表示-->
        <%if detail['table']['overview'].present?%>
          <lable>あらすじ</lable>
          <div class= "overview border rounded">
            <%= detail['table']['overview'] %>
          </div>
        <%end%>
      
      <!--レビュー投稿表示-->
      <%= form_with model: @review, local: true do |f| %>
        <div class="row">
          <div class="col-6">
            <%= f.label :レビュータイトル %>
            <%= f.text_field :title, class: "review_title_form form-control border border-dark", id: "review_title" %>
          </div>
          <div class="col-6">
            <label>評価</label></br>
            <!--評価を5段階表示(raty.js)-->
            <div id="evaluate_stars">
              <%= f.hidden_field :rate, id: :evaluate_star %>
            </div>
            <script>
              $("#evaluate_stars").empty();
              $('#evaluate_stars').raty({
                half: true,
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                scoreName: 'review[rate]' 
              }); 
            </script>
            <!--映画のタイトル、リリース日、あらすじ、ポスター、id(tmdb)のデータを送信      -->
            <%= f.hidden_field :movie_title, :value => detail["table"]["title"], id: "movie_title" %>
            <%= f.hidden_field :release_date, :value => detail["table"]["release_date"], id: "release_date" %>
            <%= f.hidden_field :overview, :value => detail["table"]["overview"], id: "overview" %>
            <%= f.hidden_field :poster_path, :value => detail["table"]["poster_path"], id: "poster_path" %>
            <%= f.hidden_field :tmdb, :value => detail["table"]["id"], id: "tmdb" %>
          </div>
        </div>
        
        <div class="row">
          <div class="col-10">
            <%= f.label :本文 %>
            <%= f.text_area :body, class: "review_body_form form-control border border-dark",id: "review_body", rows: "5" %>
          </div>
          <div class="col-6">
            <%= f.submit "レビュー", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <div class="review_list">
    <div class="container">
      <div class="row">
        <div class="col-10">
          <h2 class="top">Reviews</h2>
          <% Review.all.each do |review| %>
            <% if review.tmdb == @movieinfo["table"]["id"] %>
              <div class="review_container border">
                <!--レビューした人の名前を表示-->
                <%= review.user.name %>
                <div class="review_title">
                  <!--レビューのタイトルを表示-->
                  <%= link_to review.title, review_path(review.id) %>
                </div>
                
                  <!--レビューをraty.jsで表示-->
                  <div class="review_rate">
                    <%= render "reviews/raty", review: review %>
                  </div>
                  
                </div>
                <div class="review_body">
                  <!--レビューの内容を表示-->
                  <%= review.body %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>