<% detail = JSON.parse((Tmdb::Movie.detail(params[:id])).to_json) %>

<div class="review_error">
 <%= flash[:notice] %>
 </div>
 
 <div class="movie_show">
  <div class="container">
    <div class="row">
      <div class="col-4">
     
        <%if detail['table']['poster_path'].present?%>
          <%= image_tag 'https://image.tmdb.org/t/p/w1280' + detail['table']['poster_path'], class: "image" %>
        <%end%>
        <%if detail['table']['title'].present?%>
          <div class="movie-title"><%= detail['table']['title'] %></div>
        <%end%>
        
        
        <% array = [] %>
        <% @reviews.each do |r| %>
          <% if r.tmdb == @movieinfo["table"]["id"] %>
            <% array << r.rate %>
          <% end %>
        <% end %>
        <% unless array.empty? %>
        <h3>平均<%= (array.sum / array.count).round(2).to_f %>点</h3>
      <% end %>
      
      </div>
      
      <div class="offset-1 col-7">
        <%if detail['table']['overview'].present?%>
        <lable>あらすじ</lable>
        <div class= "overview border rounded">
          <%= detail['table']['overview'] %>
          </div>
        <%end%>
      
        <%= form_with model: @review, local: true do |f| %>
        <div class="row">
        <div class="col-6">
          <label>レビュータイトル</label>
          <%= f.text_field :title, class: "review_title_form form-control border border-dark", id: "review_title" %>
          </div>
        <div class="col-6">
           <label>評価</label></br>
          <div id="evaluate_stars">
            <%= f.hidden_field :rate, id: :evaluate_star %>
          </div>
         
            <script>
             $("#evaluate_stars").empty();
             $('#evaluate_stars').raty({
              half: true,
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'review[rate]' 
            }); 
          </script>
                
          <%= f.hidden_field :movie_title, :value => detail["table"]["title"], id: "movie_title" %>
          <%= f.hidden_field :release_date, :value => detail["table"]["release_date"], id: "release_date" %>
          <%= f.hidden_field :overview, :value => detail["table"]["overview"], id: "overview" %>
          <%= f.hidden_field :poster_path, :value => detail["table"]["poster_path"], id: "poster_path" %>
          <%= f.hidden_field :tmdb, :value => detail["table"]["id"], id: "tmdb" %>
          </div>
          </div>
          <div class="row">
          <div class="col-10">
          <label>本文</label>
          <%= f.text_area :body, class: "review_body_form form-control border border-dark",id: "review_body", rows: "5" %>
          </div>
          <div class="col-6">
          <%= f.submit "レビュー", class: "btn btn-primary" %>
          </div>
          </div>
          <% end %>
      </div>
    </div>
</div>
<div class="review_list">
  <div class="container">
  <div class="row">
    <div class="col-10">
      
      <h2 class="top">Reviews</h2>
      <div class="reviews_empty">
        <% unless Review.find_by(tmdb: @movieinfo["table"]["id"]) %>
          <h5>現在この映画のレビューは存在しません</h5>
        <% end %>
      </div>
      <% Review.all.each do |review| %>
        <% if review.tmdb == @movieinfo["table"]["id"] %>
        <div class="review_container border">
          <%= review.user.name %>
          <div class="review_title">
          <%= link_to review.title, review_path(review.id) %>
          </div>
          <div class="review_rate">
            <div class="movie-evaluation-<%= review.id %>"></div>
              <script>
              $(".movie-evaluation-<%= review.id %>").empty();
              $('.movie-evaluation-<%= review.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                readOnly: true,
                score: <%= review.rate %>,
              });
              </script>
            </div>
            <div class="review_body">
              <%= review.body %>
            </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>