 <header>
  <div class="header_item">
  <%= link_to "HOME", root_path, class: "editlink" %>
  <%= link_to "REVIEWS" , reviews_path, class: "editlink" %>
  <%= link_to "MYPAGE" , user_path(current_user.id), class: "editlink" %>
  <%= link_to "LOGOUT" ,  destroy_user_session_path, method: :delete, class: "editlink" %>
  </div>
  
  <div class="logo">
    ShelfTalker
  </div>
</header>
 
 <div class="container">
      <h2 class="top">Reviews</h2>
       <div class="reviews_wrapper">
        <div class="row">
          <% Review.all.each do |review| %>
            <div class="col-1">
              <%= link_to review.user.name, user_path(review.user.id),class: "editlink" %>
            </div>
            <div class="review_hover-darken review_font col-3">
              <%= link_to image_tag('https://image.tmdb.org/t/p/w1280' + review.poster_path, class: "review_image border border-dark"),detail_path(review.tmdb) %></br>
              <%= review.movie_title %>
            </div>
            <div class="col-8">
              <div class="row">
                <div class="reviews_title col-5">
                  <%= link_to review.title, review_path(review.id) %>
                </div>
                <div class="col-4">
                  <div class="movie-evaluation-<%= review.id %>"></div>
                    <script>
                    $(".movie-evaluation-<%= review.id %>").empty();
                    $('.movie-evaluation-<%= review.id %>').raty({
                      size: 36,
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      readOnly: true,
                      score: <%= review.rate %>,
                    });
                    </script>
                  </div>
                  <%= link_to "削除", admin_review_path(review), method: :delete, data: { confirm: '削除しますか？' },class: "btn btn-danger" %>
                </div>
              <div class="reviews_body">
                <%= review.body %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>