<!--my_profile-->
<div class="my_profile_wrapper">
  <div class="row">
    <div class="col-4">
      <h2 class="top">Profile</h2>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td><%= @user.name %></td>
            <td><%= @user.introduction %></td>
          </tr>
          <tr>
            <td class="td1"><%= link_to "フォロー", follows_user_path(@user.id) %>:<%= @user.followings.count %></td>
            <td class="td2"><%= link_to "フォロワー", followers_user_path(@user.id) %>:<%= @user.followers.count %></td>
          </tr>
          <% if current_user != @user %>
            <% if @user.followed_by?(current_user) %>
              <tr>
                <td><%=link_to "フォロー済み", user_relationships_path(@user.id), method: :delete %></td>
                <td></td>
            <% else %>
                <td><%=link_to "フォローする", user_relationships_path(@user.id), method: :post %></td>
                <td></td>
              </tr>
            <% end %>
          <% end %>
          <!--ログインユーザー且つゲストユーザーではない時、更新ボタンと退会ボタンを表示させる-->
          <% if @user == current_user && current_user != @guest_user %>
            <tr>
              <td><%= link_to "更新", edit_user_path(@user) %></td>
              <td>
                <%= link_to "退会する", withdraw_user_path(@user), method: :patch, data: {  confirm: "一度退会すると同じメールアドレスで再登録できなくなります",
                                                                                  cancel: "やめる",
                                                                                  commit: "退会"}, title: "本当に退会しますか？" %>
                                                                                   
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div> 
    
  <div class="border-left border-dark"></div> 
    <!--my_reviews-->
    <div class="col-7">
      <h2 class="top">Reviews</h2>
        <!--相互フォロワー、又は本人のページの場合レビューとブックマークを表示させる-->
        <% if @user.followings.include?(current_user) && @user.followers.include?(current_user) || @user == current_user %>
          <% if @user.reviews.exists? %>
          
            <!--レビュー一覧を表示-->
            <div id="my_review_lists">
              <%= render 'users/my_review_list' %>
            </div>
            <div class="more">
              <!--非同期通信でページネーション-->
              <%= link_to_next_page @my_reviews, 'see more', remote: true, id: 'view_more' %>
            </div>
            
          <!--相互フォロワーではない場合-->
          <% else %>
            <div class="my_reviews_empty offset-3 col-6">
              <h5>現在レビューはありません</h5>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
      <h2 class="bookmark_top">Bookmark</h2>
      <div class="container">
        <div class="row">
          <% if @user.likes.exists? %>
            <% @user.likes.each do |like| %>
              <div class="bookmark_hover_darken">
                <%= link_to image_tag('https://image.tmdb.org/t/p/w1280' + like.review.poster_path, class: "bookmark_review_image border border-dark"),detail_path(like.review.tmdb) %>
              </div>
            <% end %>
          <% else %>
            <div class="my_bookmark_empty offset-3 col-6">
              <h5>現在保存済みの映画はありません</h5>
              <p><レビューの詳細画面から保存することができます></p>
            </div>
          <% end %>
        </div>
      </div>
        <% else %>
          <div class="my_reviews_empty offset-3 col-6">
            <h5>相互フォロー関係になると投稿したレビューが表示されます</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
      <h2 class="bookmark_top">Bookmark</h2>
        <div class="container">
          <div class="row">
            <div class="my_bookmark_empty offset-3 col-6">
              <h5>相互フォロー関係になると保存した映画が表示されます</h5>
              <p><レビューの詳細画面から保存することができます></p>
            </div>
          </div>
        </div>
        <% end %>
