<header>
  <div class="header_item">
  <%= link_to "HOME", root_path, class: "editlink" %>
  <%= link_to "REVIEWS" , reviews_path, class: "editlink" %>
  <%= link_to "MYPAGE" , user_path(current_user.id), class: "editlink" %>
  <%= link_to "LOGOUT" ,  destroy_user_session_path, method: :delete, class: "editlink" %>
  </div>
  
  <div class="logo">
    ShelfTalker
  </div>
</header>

<div class="my_profile_wrapper">
  <div class="row">
    <div class="col-4">
      <h2 class="top">Profile</h2>
      <div class="row">
         <div class="offset-1">
           <div class="user_name">
             <%= @user.name %>
           </div>
            <div class="border my_page_border"></div>
            <div class="user_introduction">
              <%= @user.introduction %>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="offset-1">
          <%= link_to "フォロー", follows_user_path(@user.id) %>:<%= @user.followings.count %></br>
          <%= link_to "フォロワー", followers_user_path(@user.id) %>:<%= @user.followers.count %>
        </div>
      <div class="offset-1">
    <% if current_user != @user %>
        <% if @user.followed_by?(current_user) %>
            <%=link_to "フォロー済み", user_relationships_path(@user.id), method: :delete %>
        <% else %>
            <%=link_to "フォローする", user_relationships_path(@user.id), method: :post %>
        <% end %>
    <% end %>
    </div>
    <% if @user == current_user %>
    <div class="offset-1">
      <%= link_to "更新", edit_user_path(@user) %>
      <% unless current_user == @guest_user %>  
        <%= link_to "退会する", withdraw_user_path(@user), method: :patch %>
      <% end %>
    </div>
      <% end %>
    </div>
     </div>
    
    
    
    
  <div class="border-left border-dark"></div> 
  
  <!--<div class="my_reviews_wrapper"></div>-->
  <div class="col-7">
     <h2 class="top">Reviews</h2>
    <div class="row">
      
      
     <% @user.reviews.each do |review| %>
         
            <div class="my_hover-darken my_movie-title col-3">
              <%= link_to image_tag('https://image.tmdb.org/t/p/w1280' + review.poster_path , class: "my_review_image border border-dark"), detail_path(review.tmdb) %></br>
                <%= review.movie_title %> 
            </div>
            <div class="offset-1 col-7">
              <div class="review_title">
                <%= link_to review.title, review_path(review.id) %>
              </div>
              
              <div class="review_rate">
              <div class="movie-evaluation-<%= review.id %>"></div>
                    <script>
                    $(".movie-evaluation-<%= review.id %>").empty();
                    $('.movie-evaluation-<%= review.id %>').raty({
                      size: 36,
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      readOnly: true,
                      score: <%= review.rate %>,
                    });
                    </script>
                  </div>
              <div class="review_body">
                <%= review.body %>
              </div>
            </div>
            <div class="col-1"></div>
      <% end %>
       </div>
      </div>
    </div>
  </div>
</div>


<h2 class="bookmark_top">Bookmark</h2>

<div class="container">
  <div class="row">
 
    <% @user.likes.each do |like| %>
      <div class="bookmark_hover-darken">
      <%= link_to image_tag('https://image.tmdb.org/t/p/w1280' + like.review.poster_path, class: "bookmark_review_image border border-dark"),detail_path(like.review.tmdb) %>
      </div>
    <% end %>
</div>

</div>




