<header>
  
  <div class="logo">
    <%= link_to ShelfTalker , root_path, class: "editlink" %>
  </div>
  
   <nav>
    <div class="header_item">
      <div class="inner">
         <!--ログアウト時-->
        <% if !user_signed_in? %>
          <ul>
            <li><%= link_to "HOME", root_path, class: "editlink" %></li>
            <li><%= link_to "ABOUT" , homes_about_path, class: "editlink" %></li>
            <li><%= link_to "SIGNIN" , new_user_session_path, class: "editlink" %></li>
            <li><%= link_to "SIGNUP" ,  new_user_registration_path, class: "editlink" %></li>
          </ul>
        <!--管理者としてログイン時  -->
        <% elsif current_user.admin? %>
          <ul>
            <li><%= link_to "ADMIN USERS", admin_users_path, class: "editlink" %></li>
            <li><%= link_to "ADMIN REVIEWS" , admin_reviews_path, class: "editlink" %></li>
            <li><%= link_to "MYPAGE" , user_path(current_user.id), class: "editlink" %></li>
            <li><%= link_to "LOGOUT" ,  destroy_user_session_path, method: :delete, class: "editlink" %></li>
          </ul>
        <!--ユーザーとしてログイン時  -->
        <% else %>
          <ul>
            <li><%= link_to "HOME", root_path, class: "editlink" %></li>
            <li><%= link_to "REVIEWS" , reviews_path, class: "editlink" %></li>
            <li><%= link_to "USERS", users_path, class: "editlink" %></li>
            <li><%= link_to "MYPAGE" , user_path(current_user.id), class: "editlink" %></li>
            <li><%= link_to "LOGOUT" ,  destroy_user_session_path, method: :delete, class: "editlink" %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>

  <!--三本線のボタン-->
  <div class="toggle_btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
  
  <div id="mask"></div>

</header>