<header>
  <div class="header_item">
  <%= link_to "HOME", root_path, class: "editlink" %>
  <%= link_to "REVIEWS" , reviews_path, class: "editlink" %>
  <%= link_to "MYPAGE" , user_path(current_user.id), class: "editlink" %>
  <%= link_to "LOGOUT" ,  destroy_user_session_path, method: :delete, class: "editlink" %>
  </div>
  
  <div class="logo">
    ShelfTalker
  </div>
</header>

<div class="container">
    <div class="row">
      <div class="users">
        <% @users.each do |user| %>
        <div class="offset-8 col-2">
          <%= link_to "削除", admin_user_path(user), method: :delete, data: { confirm: '削除しますか？' },class: "btn btn-danger" %>
        </div>
        <div class="user_name">
          <%= link_to user.name, user_path(user.id)%>
        </div>
        <div class="user_introduction col-7">
          <%= user.introduction %>
        </div>
        <% end %>
        </div>
    </div>
</div>


