<% cast_info = JSON.parse((Tmdb::Person.movie_credits(params[:id])).to_json) %>
<% cast = JSON.parse((Tmdb::Person.detail(params[:id])).to_json) %>
<div class="cast_info">
   <h2 class="top"><%= cast["table"]["name"]%>'s PROFILE</h2>
<div class="container">
  <div class="row">
    <div class="cast_info">
      <div class="offset-6 col-4">
        <span class="box"></span>
        <div class="cast_image">
          <%= image_tag "http://image.tmdb.org/t/p/w1280/" + cast["table"]["profile_path"] %>
        </div>
      </div>
    </div>
      
     
      <div class="offset-4 col-3">
        <h4>NAME</h4>
        <div class="cast_name">
          <%= cast["table"]["name"] %>
        </div>
        <div class="cast_birthday">
        <h4>BIRTHDAY</h4>
          <%= cast["table"]["birthday"] %>
        </div>
        <div class="place_of_birth">
        <h4>BIRTH PLACE</h4>
          <%= cast["table"]["place_of_birth"] %>
        </div>
        <h4>出演本数</h4>
        <div class="appearance">
          <%= cast_info["table"]["cast"].length %>
        </div>
      </div>
    </div>
  </div>




<h2 class="top">MOVIES</h2>

<% cast_info = JSON.parse((Tmdb::Person.movie_credits(params[:id])).to_json) %>
<% i = 0 %>
<div class="container">
  <div class="row">
    <% while i < cast_info["table"]["cast"].length %>
    
      <div class="col-3">
        <div class="cast_movies">
          <% if cast_info["table"]["cast"][i]["table"]["poster_path"] %>
            <%= link_to image_tag("http://image.tmdb.org/t/p/w1280/" + cast_info["table"]["cast"][i]["table"]["poster_path"]), detail_path(cast_info['table']['cast'][i]['table']['id']) %>
          <% end %>
        </div>
        <div class="cast_movies_title">
          <% if cast_info["table"]["cast"][i]["table"]["title"] %>
            <%= cast_info["table"]["cast"][i]["table"]["title"] %>
          <% end %>
        </div>
        <div class="cast_movies_character">
          <% if cast_info["table"]["cast"][i]["table"]["character"] %>
            <%= cast_info["table"]["cast"][i]["table"]["character"] %>役
          <% end %>
        </div>
        <div class="cast_movies_release_date">
          <% if cast_info["table"]["cast"][i]["table"]["release_date"] %>
            <%= cast_info["table"]["cast"][i]["table"]["release_date"] %>
          <% end %>
        </div>
      </div>
    <% i += 1 %>
    <% end %>
  </div>
</div>
</div>

<%= cast_info["table"]["cast"].length %>